.flex-container1{
    flex-direction: row;
    display: flex;
    justify-content: space-around;
    
}

.child-container{
    flex-direction: column;
    display: flex;
    
}

.child-container > div{
    .para2{
        font-family: "Inter", sans-serif;
        font-weight:bold;
        font-size: 20px;
        padding-left: 50px;

    }
    
    form{
        padding-left: 50px;  

        .email{
            color: #888888;
            font-family: "Inter", sans-serif;
            border: 2px solid black;
            padding: 14px 40px;
            border-radius: 8px;
            font-weight: bold;
            cursor: pointer;
        }

        .button{
            background-color: #282828;
            font-family: "Inter", sans-serif;
            color:#FFFFFF;
            border: 2px solid black;
            padding: 14px 40px;
            border-radius: 8px;
            font-weight: bold;
            cursor: pointer;
        }
    }

}
.flex-container1 > div {
    
    .first-heading{
        font-family: "Inter", sans-serif;
        padding-left: 50px;
        padding-top: 50px;
    }
    
    .para1{
        font-family: "Inter", sans-serif;
        padding-left: 50px;
    }
    
    
}

footer {

    .flex-container2 {
        background-color: #282828;
        display: flex;
        flex-direction: row;
        flex-wrap:wrap;
        justify-content: space-around;
    }

    .flex-container2 > div {
        color: #FFFFFF;
        font-family:"Inter", sans-serif;
        line-height: 1.7;
        padding: 25px;

    }
}

  